<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Landing</title>
</head>
<body>
<div id="wrapper">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Pupr</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login or Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR -->

    <h1 class="h1_pupr">Pupr</h1>

    <!-- JUMBOTRON -->
    <div class="jumbotron">
        <div class="container">
            <p class="lead">You know the way to my heart..</p>
            <!-- <hr class="my-4"> --><br>
            <p class="lead2">Content out within the larger container.</p>
            <br><br>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/login" role="button">Sign Up Today!</a>
            </p>
        </div>
    </div>
    <!-- JUMBOTRON -->

    <!-- HOW IT WORKS -->
    <header id="home-section1">
        <div class="dark-overlay">
            <div class="home-inner">
                <div class="container col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="display-4">How it Works</h1>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 what1">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Step 1</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 what2">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Step 2</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 what3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Step 3</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HOW IT WORKS -->

    <!-- SHELTER NEWS -->
    <header id="home-section">
        <div class="dark-overlay">
            <div class="home-inner">
                <div class="container borderimg col-sm-9">
                    <div class="row_bottom">
                        <div class="col-lg-12 shelter">
                            <h1 class="display-4-4">Shelter News</h1>
                        </div>
                        <div class="col-sm-6 box">
                            <h1 class="h1_box">Info about new dogs or recent adoption stories</h1>
                        </div>
                        <div class="col-sm-6 box">
                            <h1 class="h1_box">Pictures here</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- SHELTER NEWS -->


</div>
</body>
</html>






<!-- HOW IT WORKS -->
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="display-4" style="text-align: center">How it Works</h1>
                    </div>
                    <div class="row">
                      <div class="col-sm-4 what">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Step 1</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 what">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Step 2</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 what">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Step 3</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HOW IT WORKS -->


<!-- SHELTER NEWS -->
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 shelter">
                        <h1 class="display-4" style="text-align: center">Shelter News</h1>
                    </div>
                    <div class="col-sm-6 box">
                        <h1>Info about new dogs or recent adoption stories</h1>
                    </div>
                    <div class="col-sm-6 box">
                        <h1>Pictures here</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- SHELTER NEWS -->
