<div class="container" style="border: solid black 1px">
    <div class="container" >
        <div class="row">
            <div class="col-sm-5" style="border: solid black 1px">
                <h1 style="">Image here</h1>
                <div class="" style="border-top: solid black 1px">
                    <h1>Share Button</h1>
                </div>
            </div>
            <div class="col-sm-7 fix" style="text-align: left">
                <h3>Name: {{pup.name}} Sex: Male Breed: Husky</h3>
                <h3>Description: random random random</h3>
                <h3>Sheltor Name: Dogs R' Us</h3>
                <h3>Address: 1234 Fake St, Los Angeles, 91010</h3>
                <h3>Phone: (715)-123-4567</h3>
                <h3>Email: dogRus@gmail.com</h3>
                <div class="">
                    <h3>Comments</h3>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- <h1>Gello?</h1> -->
<!-- *ngFor="let pup of userPups" -->
